#flower_library
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px;
    gap: 50px;
    padding: 50px;

}
.flower
{
    display: inline-flex;
    flex-direction: column;
    flex-direction: center;
    padding: 100px;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: even 2s ease;
    transition:even 2s ease;
    box-shadow: 5px 5px red;
}


   